<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<context-param>
		<param-name>globalAttribute</param-name>
		<param-value>Available to all servlets</param-value>
	</context-param>
	<context-param>
		<param-name>breed</param-name>
		<param-value>Nanthu</param-value>
	</context-param>
	<listener>
		<listener-class>com.example.Dog</listener-class>
	</listener>
	<listener>
		<listener-class>com.example.BeerAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.example.BeerSessionCounter</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.example.MyServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>ServletContextListenerTest</servlet-name>
		<servlet-class>com.example.ListenerTester</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextListenerTest</servlet-name>
		<url-pattern>/ContextListenerTest.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BeerParamTests</servlet-name>
		<servlet-class>com.example.TestInitParams</servlet-class>
		
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>6tharshi@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>mainEmail</param-name>
			<param-value>jeya.11@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>URLRewritingTest</servlet-name>
		<servlet-class>com.example.URLRewritingTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReuseOldSessionIfExists</servlet-name>
		<servlet-class>com.example.ReuseOldSessionIfExists</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DarksideOfAttributesTest</servlet-name>
		<servlet-class>com.example.DarksideOfAttributesTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DarksideOfAttributesTest2</servlet-name>
		<servlet-class>com.example.DarksideOfAttributesTest2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionAttributesSynchronized</servlet-name>
		<servlet-class>com.example.SessionAttributesSynchronized</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionNewOrOldTest</servlet-name>
		<servlet-class>com.example.SessionNewOrOldTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cookieTest.do</servlet-name>
		<servlet-class>com.example.CookieTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>checkcookie.do</servlet-name>
		<servlet-class>com.example.CheckCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkcookie.do</servlet-name>
		<url-pattern>/checkcookie.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cookieTest.do</servlet-name>
		<url-pattern>/cookieTest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DarksideOfAttributesTest2</servlet-name>
		<url-pattern>/DarksideOfAttributesTest2.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>URLRewritingTest</servlet-name>
		<url-pattern>/URLRewritingTest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReuseOldSessionIfExists</servlet-name>
		<url-pattern>/ReuseOldSessionIfExists.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionNewOrOldTest</servlet-name>
		<url-pattern>/SessionNewOrOldTest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionAttributesSynchronized</servlet-name>
		<url-pattern>/SessionAttributesSynchronized.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DarksideOfAttributesTest</servlet-name>
		<url-pattern>/DarksideOfAttributesTest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BeerParamTests</servlet-name>
		<url-pattern>/Testor.do</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>